@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.horizontal {
  position: relative;
  min-height: 800px;
}

/*
.bar {
  position: fixed;
  width: 280vw;
  top: 2.5rem;
  left: 20vw;
  border-radius: 8px;
  border: 3px solid black;
  z-index: 1;
  padding: 5rem;
}
*/

.line {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 20px;
  background-color: #d4d4d4;
  top: 12.2rem;
}

.fixed-box {
  position: fixed;
  z-index: 2;
  border-radius: 8px;
  background-color: #000c40;
  width: 50vw;
  height: 100px;
  font-size: 2rem;
  left: 25vw;
  top: 10rem;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.container section {
  min-width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.container section .content {
  max-width: 800px;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
}

.container section .content h2 {
  font-size: 4rem;
  color: #111;
}

.container section .content p {
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: #111;
}

.container section .content p {
  line-height: 1.5;
}

.container section .content ul {
  text-align: start;
  margin: 15rem 0 0 0;
  line-height: 2rem;
}

/*
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  color: black;
  font-weight: bold;
  z-index: 2;
}
*/

.names {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 3;
  left: 40vw;
  top: 12rem;
}

.names div {
  width: 50vw;
  color: #d4d4d4;
}

.terms {
  position: fixed;
  z-index: 1;
  top: 12.5rem;
  left: 27vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 190vw;
}

.terms ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 50vw;
}

.year-list {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  top: 2rem;
  left: 15vw;
  width: 60vw;
  justify-content: space-between;
}

.year-list .list {
  margin-left: 10%;
  list-style-type: none;
}

.list * {
  width: 30vw;
}

.list-3 {
  list-style-type: none;
  position: fixed;
  top: 20rem;
  right: 10rem;
}

.logo {
  width: 30px;
  transform: translateY(25%);
}
.arrow {
  display: block;
  position: fixed;
  width: 20px;
  z-index: 1;
}

.arrow-1 {
  top: 8.1rem;
  left: 78vw;
}

.arrow-2 {
  top: 16rem;
  left: 150vw;
}

.arrow-3 {
  top: 6.5rem;
  left: 217vw;
}

.arrow-4 {
  top: 17.1rem;
  left: 217vw;
}
